header {
    grid-area: header;
    background-color: #146173;
    width: 100%;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header a img {
    margin-top: 2rem;
    padding: 1rem;    
}

.name-img {
    display: flex;
    align-items: center;
}

.name-img p {
    padding: 1rem;
    color: #ffffff;
}

.name-img img {
    height: 7rem;
    margin: 1rem;
}

main {
    grid-area: main;
}

.grid-layout {
    display: grid;
    grid-template-areas:'titulo titulo titulo'
                        'general general fecha'
                        'descripcion descripcion descripcion'
                        'tabla tabla tabla';
    grid-template-columns: 1fr 1fr 1fr;
    height: 100%;
    gap: 2rem;
    margin: 0rem 5rem 0rem 5rem;
}

.general {
    grid-area: general;
    border: 1px solid #c4c4c4;
    padding: 1rem 2rem;
    height: fit-content;
}

.medidas {
    grid-area: medidas;
    border: 1px solid #c4c4c4;
    padding: 1rem 2rem;
    height: fit-content;
}

.fecha {
    grid-area: fecha;
    border: 1px solid #c4c4c4;
    padding: 1rem 2rem;
    height: fit-content;
}

.descripcion {
    grid-area: descripcion;
    border: 1px solid #c4c4c4;
    padding: 1rem 2rem;
    height: fit-content;
}

.tabla {
    grid-area: tabla;
    border: 1px solid #c4c4c4;
    margin: 0rem;
}

table{
    width: 100%;
}

table, th, td{
    border: 1px solid #146173;
    border-collapse: collapse;
    padding: .5rem;
}

th{
    color: #ffffff;
    background-color: #4995A6;
}

/* /renglones impares/ */
tr:nth-child(even){
    background-color: #fcfcfc;
}
/* /renglones pares/ */
tr:nth-child(odd){
    background-color: #a8dadc;
}

.tablaMedicamento {
    margin: 2rem;
}

.tablaAntecedentes {
    margin: 2rem;
}

.tablaArchivos {
    margin: 2rem;
}