<header class="row">
    <div>
        <a routerLink="/home">
            <img src="/assets/img/logo.png" alt="logo">
        </a>
    </div>
    <div class="name-img">
        <div class="menu"><a style="cursor: pointer;" (click)="authService.logout()">Cerrar Sesión</a></div>
        <p>{{usuario.nombreMedico}}</p>
        <img src="/assets/img/doctor.png" alt="logoMedico"/>
    </div>
</header>
<main>
    <div>
        <h1>Busqueda de pacientes</h1>
    </div>
    <form
        (submit)="buscarPaciente()"
        [formGroup]="searchForm"
    >
        <p class="curp">CURP</p>
        <input 
            type="text" 
            placeholder="CURP"
            formControlName="curp"
        >
        <button type="submit">Buscar</button>
    </form>
    <div *ngIf="datosPaciente[0].nombre !== ''">
        <a routerLink="/principalPaciente" class="contenedor"  *ngFor="let datos of datosPaciente">
            <div class="contenedor-info">
                <div class="info-paciente">
                    <p class="etiqueta">Nombre: </p>
                    <p class="info">{{datos.nombre}} {{datos.apellidoPaterno}} {{datos.apellidoMaterno}}</p>
                </div>
                <div class="info-paciente">
                    <p class="etiqueta">Nacimiento: </p>
                    <p class="info">{{datos.fechaNacimiento}}</p>
                </div>
                <div class="info-paciente">
                    <p class="etiqueta">CURP: </p>
                    <p class="info">{{datos.curp}}</p>
                </div>
            </div>
            <div class="contenedor-imagen">
                <img src="/assets/img/doctor.png" alt="img-paciente">
            </div>
        </a>
    </div>
</main>