<header class="row">
    <div>
      <a routerLink="/home">
        <img src="/assets/img/logo.png" alt="logo" />
      </a>
    </div>
    <div class="menu-name-img">
      <p>Nuevo usuario</p>
    </div>
  </header>
<main>
    <form (submit)="registrar()" class="grid-container-main">
        <div class="nombre">
            <label for="name" class="etiqueta">Nombre</label>
            <input 
                type="text" 
                name="nombre"
                id="nombre" 
                placeholder="Escribe tu nombre"
                [(ngModel)]="user.nombre"
            />
        </div>
        <div class="apeM">
            <p class="etiqueta">Apellido paterno</p>
            <input 
                type="text" 
                name="apellidoPaterno" 
                id="apellidoPaterno"
                placeholder="Apellido Paterno" 
                [(ngModel)]="user.apellidoPaterno" 
            />
        </div>
        <div class="apeP">
            <p class="etiqueta">Apellido materno</p>
            <input 
                type="text" 
                name="apellidoMaterno"
                id="apellidoMaterno"
                placeholder="Apellido Materno" 
                [(ngModel)]="user.apellidoMaterno" 
            />
        </div>
        <div class="gen">
            <label class="etiqueta">Género</label><br/>
            <input 
                type="radio" 
                id="generoF"
                name="generoF" 
                value="femenino" 
                [(ngModel)]="user.genero"/>
            <label for="femenino">Femenino</label><br />
            <input 
                type="radio" 
                id="generoM" 
                name="generoM" 
                value="masculino" 
                [(ngModel)]="user.genero" 
            />
            <label for="masculino">Masculino</label><br />
        </div>
        <div class="fecha">
            <p class="etiqueta">Fecha de nacimmiento</p>
            <input 
                type="date"
                name="fechaNacimiento"
                id="fechaNacimiento"
                placeolder="Fecha nacimiento" 
                [(ngModel)]="user.fechaNacimiento" 
            />
        </div>
        <div class="curp">
            <p class="etiqueta">Curp</p>
            <input 
                type="text" 
                name="curp"
                id="curp"
                placeholder="CURP"
                [(ngModel)]="user.curp" 
            />
        </div>
        <div class="tipoS">
            <p class="etiqueta">Tipo de sangre</p>
            <input 
                type="text" 
                name="tipoSangre"
                id="tipoSangre"
                placeholder="Tipo Sangre" 
                [(ngModel)]="user.tipoSangre" 
            />
        </div>
        <div class="estado">
            <p class="etiqueta">Estado</p>
            <input 
                type="text" 
                name="estado"
                id="estado"
                placeholder="Estado" 
                [(ngModel)]="user.estado" 
            />
        </div>
        <div class="ciudad">
            <p class="etiqueta">Ciudad</p>
            <input 
                type="text" 
                name="ciudad"
                id="ciudad" 
                placeholder="Ciudad"
                [(ngModel)]="user.ciudad" 
            />
        </div>
        <div class="cp">
            <p class="etiqueta">C.P.</p>
            <input 
                type="number" 
                name="cp"
                id="cp"
                placeholder="Codigo Postal" 
                [(ngModel)]="user.cp" 
            />
        </div>
        <div class="direccion">
            <p class="etiqueta">Contraseña</p>
            <input 
            type="password" 
            [(ngModel)]="user.password" 
            name="Password" 
            placeholder="Password" 
        />
        </div>
        <div class="btn">
            <button type="submit">
                Registrar
            </button>
        </div>
    </form>
</main>