<header class="row">
  <div>
    <a routerLink="/home">
      <img src="/assets/img/logo.png" alt="logo" />
    </a>
  </div>
  <div class="menu-name-img">
    <p>Mi historial médico.</p>
  </div>
</header>
<main>
  <div class="grid-layout">
    <form (submit)="iniciarSesionMedico()" class="contenedor">
      <div class="contenedor-info">
        <div class="info-mail-pass">
          <p class="etiqueta">Correo</p>
          <input 
            type="text" 
            name="correo"
            id="correo"
            placeholder="Correo"
            [(ngModel)]="medico.correo"  
          />
        </div>
        <div class="info-mail-pass">
          <p class="etiqueta">Contraseña</p>
          <input 
            type="password" 
            name="password"
            id="password"
            placeholder="Contraseña" 
            [(ngModel)]="medico.password"
          />
        </div>
      </div>
      <div class="botones">
        <a (click)="iniciarSesionMedico()" class="btn-ingresar">Ingresar</a>
      </div>
    </form>
    <div class="pag-img-principal">
      <a routerLink="/home">Regresar a la página principal</a>
      <img src="/assets/img/img_inicio.png" alt="imagen inicio" />
    </div>
  </div>
</main>