<header class="row">
    <div>
        <a routerLink="/home">
            <img src="/assets/img/logo.png" alt="logo" />
        </a>
    </div>
    <div class="name-img">
        <p *ngIf="!usuario.nombreMedico">{{datos.nombre}} {{datos.apellidoPaterno}} {{datos.apellidoMaterno}}</p>
        <p *ngIf="usuario.nombreMedico">{{usuario.nombreMedico}}</p>
        <img src="/assets/img/doctor.png" alt="logoMedico" />
    </div>
</header>
<main>
    <div class="grid-layout">
        <div class="titulo">
            <p>Consulta del 20 de mayo de 2021</p>
        </div>
        <div class="general">
            <p>General</p>
            <p>Atendio:</p>
            <p>Diagnóstico: </p>
        </div>
        <div class="medidas">
            <p>Medidas</p>
            <p>Altura:</p>
            <p>Peso:</p>
        </div>
        <div class="alergias">
            <p>Alergias</p>
        </div>
        <div class="descripcion">
            <p>Descripción del diagnóstico</p>
            <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laborum,
                dignissimos. Lorem, ipsum dolor sit amet consectetur adipisicing
                elit. Dolorum, explicabo cupiditate. Deleniti illo deserunt
                placeat nemo quos, cupiditate assumenda ab.
            </p>
        </div>
        <div class="tabla">

            <div class="tablaMedicamento">
                <table>
                    <tr>
                        <th>Medicamento</th>
                        <th>Vía</th>
                        <th>Frecuencia</th>
                        <th>Duración</th>
                        <th>Notas</th>
                    </tr>
                    <tr>
                        <td>Paracetamol</td>
                        <td>Oral</td>
                        <td>Cada 8 hrs</td>
                        <td>Por 3 días</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </table>
            </div>

            <div class="tablaAntecedentes">
                <table>
                    <tr>
                        <th>Antecedentes</th>
                        <th>Parentesco</th>
                        <th>Observaciones</th>
                    </tr>
                    <tr>
                        <td>Diabetes</td>
                        <td>Abuela</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </table>
            </div>

            <div class="tablaArchivos">
                <table>
                    <tr>
                        <th>Descripción del archivo</th>
                        <th>Archivo</th>
                        <th>Observaciones</th>
                    </tr>
                    <tr>
                        <td>Radiografia</td>
                        <td>radiografia.png</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </table>
            </div>

        </div>
    </div>
</main>